:root {
	--background-color: #000;
	--green: rgb(83, 105, 48);
	--orange: rgb(155, 107, 17);
	--red: rgb(139, 0, 0);
	--text-color: #fff;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
}

html {
	height: 100%;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	min-height: 100%;
}

main {
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

form label {
	display: block;
	margin-left: 20px;
}

input {
	background-color: var(--background-color);
	border: thin solid white;
	border-radius: 5px;
	color: var(--text-color);
}

td {
	height: 30px;
	padding: 5px 20px;
}

td:nth-child(3) {
	box-sizing: border-box;
	min-width: 125px;
}

a {
	color: goldenrod;
}

a:hover {
	color: var(--text-color);
}

.cheapest,
.open {
	background-color: var(--green);
}

.cheap1 {
	background-color: var(--green);
}

.cheap2 {
	background-color: var(--orange);
}

.cheap3 {
	background-color: var(--red);
}

.to tr:hover {
	background-color: #777;
	cursor: pointer;
}

.to tr.open:hover {
	background-color: var(--green);
}
